<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Online-Reservation-System/BookOrCancel</title>
</head>

<body bgcolor="#28b83b">

    <div style="text-align: center; margin-top: 20px;">
        <a th:href="@{/newReservation}" style="font-size: 20px; position: absolute; top: 40%; left: 35%;  text-decoration: none; padding: 30px; background-color: yellow; color: black; border-radius: 5px;">Book Reservation</a>
        <span>&nbsp;&nbsp;</span>
        <a th:href="@{/cancelReservation}" style="font-size: 20px; position: absolute; top: 40%; right: 35%; text-decoration: none; padding: 30px; background-color: yellow; color: black; border-radius: 5px;">Cancel Reservation</a>
    </form>
    </div>
</body>

</html>
