<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Online-Reservation-System/index</title>
</head>

<body bgcolor="#dfc8a2">

    <div style="text-align: center; margin-top: 20px;">
        <img src="./train.jpg" width="1000px" height="550px" alt="Online Transport" style="margin-left: auto; margin-right: auto;">
        <h1>Welcome to Online Reservation System🚌✈️🚉🛳️</h1>
        <a th:href="@{/login}" style="text-decoration: none; padding: 10px; background-color: #4CAF50; color: white; border-radius: 5px;">Login</a>
        <span>&nbsp;&nbsp;</span>
        <a th:href="@{/end}" style="text-decoration: none; padding: 10px; background-color: #f44336; color: white; border-radius: 5px;">Exit</a>
    </form>
    </div>
</body>

</html>
